<app-navbar></app-navbar>

<div class="conteudoNoticias">
    <div class="listanoticias">
        <ng-container *ngFor="let item of listaNoticias">
            <div class="noticia">
                <div class="cabecalhoNoticia">
                    <div class="dataNoticia">
                        Date: 26/10/2021
                    </div>
                    <div class="usuarioNoticia">
                        Alex de Melo Bento
                    </div>
                </div>
                <div class="textoNoticia">
                    Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.Esta é minha noticia que cirei pela API para estudo.
                </div>    
            </div>
        </ng-container>
    </div>
</div>