<app-navbar></app-navbar>

<div class="conteudoNoticias">
    <div class="listanoticias">
        <ng-container *ngFor="let item of noticias">
            <div class="noticia">
                <div class="cabecalhoNoticia">
                    <div class="dataNoticia">
                        Date: {{item.dataCadastro}}
                    </div>
                    <div class="usuarioNoticia">
                        {{item.titulo}}
                    </div>
                </div>
                <div class="textoNoticia">
                    {{item.informacao}}
                </div>    
            </div>
        </ng-container>
    </div>
</div>